.sidebar {
  float: right;
  background-color: yellow;
  width: 25%;
  font-family:fantasy;
  border: 2px solid black;
}
h1 {
  text-align: center;
  font-family:Verdana;
  color: #2BB8F1;
  font-size: 60px;
}
h2 {
  text-align: center;
}
.about-us {
  width:30%;
  float: left;
  border: 2px solid gold;
  margin: 5px;
}
.new-album {
  width:30%;
  float: left;
  border: 2px solid gold;
  margin: 5px;
}
.social-media {
  width:30%;
  float: left;
  border: 2px solid gold;
  margin: 5px;
}
h3 {
  text-align: center;
}
